{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Informations du site <b>{{ object.name }}</b></h1>
</div>

<hr />

<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Site - <b>{{ object.name }}</b></h2>
      </div>
      <div class="row justify-content-between">
        <label for="customer">Client :</label>&nbsp;<input type="text" value="{{ object.customer.name }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="name">Libellé :</label>&nbsp;<input type="text" value="{{ object.name }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="country">Pays :</label>&nbsp;<input type="text" value="{{ object.country }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="state">État :</label>&nbsp;<input type="text" value="{{ object.state }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="city">Ville :</label>&nbsp;<input type="text" value="{{ object.city }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="postal">Postal :</label>&nbsp;<input type="text" value="{{ object.postal }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="address">Adresse :</label>&nbsp;<input type="text" value="{{ object.address }}" readonly="readonly" />
      </div>
      <br />
      <div class="row justify-content-around mt-3">
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/sites'" />
      </div>
    </form>
  </div>
</div>

<hr />

{% include 'remove.html' %}

{% endblock content %}
