{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Mise à jour du site <b>{{ object.name }}</b></h1>
</div>

<hr />

{{ form.non_field_errors }}
<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Site - <b>{{ object.name }}</b></h2>
      </div>
      <div class="row justify-content-between">
        <label for="customer">Client :</label>&nbsp;
        <div style="color: red;">{{ form.customer.errors }}</div>
        {{ form.customer }}
      </div>
      <div class="row justify-content-between">
        <label for="name">Libellé :</label>&nbsp;
        <div style="color: red;">{{ form.name.errors }}</div>
        {{ form.name }}
      </div>
      <div class="row justify-content-between">
        <label for="country">Pays :</label>&nbsp;
        <div style="color: red;">{{ form.country.errors }}</div>
        {{ form.country }}
      </div>
      <div class="row justify-content-between">
        <label for="state">État :</label>&nbsp;
        <div style="color: red;">{{ form.state.errors }}</div>
        {{ form.state }}
      </div>
      <div class="row justify-content-between">
        <label for="city">Ville :</label>&nbsp;
        <div style="color: red;">{{ form.text.errors }}</div>
        {{ form.city }}
      </div>
      <div class="row justify-content-between">
        <label for="postal">Postal :</label>&nbsp;
        <div style="color: red;">{{ form.postal.errors }}</div>
        {{ form.postal }}
      </div>
      <div class="row justify-content-between">
        <label for="address">Adresse :</label>&nbsp;
        <div style="color: red;">{{ form.address.errors }}</div>
        {{ form.address }}
      </div>
      <br />
      <div class="row justify-content-around">
        <input class="col-4 btn btn-success" type="submit" value="Modifier" />
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/sites'" />
      </div>
    </form>
  </div>
</div>

<hr />

{% include 'remove.html' %}

{% endblock content %}
