{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Création d'un nouveau site</h1>
</div>

<hr />

<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Nouveau site</h2><br />
      </div>
      <div class="row justify-content-between">
        <label for="customer">Client :</label>&nbsp;
        <div style="color: red;">{{ form.customer.errors }}</div>
        {{ form.customer }}
      </div>
      <div class="row justify-content-between">
        <label for="name">Libellé :</label>&nbsp;
        <div style="color: red;">{{ form.name.errors }}</div>
        <input name="name" id="id_name" type="text" placeholder="Site CIC de Caen" />
      </div>
      <div class="row justify-content-between">
        <label for="country">Pays :</label>&nbsp;
        <div style="color: red;">{{ form.country.errors }}</div>
        <input name="country" id="id_country" type="text" placeholder="France" />
      </div>
      <div class="row justify-content-between">
        <label for="state">État :</label>&nbsp;
        <div style="color: red;">{{ form.state.errors }}</div>
        <input name="state" id="id_state" type="text" placeholder="Texas" />
      </div>
      <div class="row justify-content-between">
        <label for="city">Ville :</label>&nbsp;
        <div style="color: red;">{{ form.text.errors }}</div>
        <input name="city" id="id_city" type="text" placeholder="Paris" />
      </div>
      <div class="row justify-content-between">
        <label for="postal">Postal :</label>&nbsp;
        <div style="color: red;">{{ form.postal.errors }}</div>
        <input name="postal" id="id_postal" type="text" placeholder="75000" />
      </div>
      <div class="row justify-content-between">
        <label for="address">Adresse :</label>&nbsp;
        <div style="color: red;">{{ form.address.errors }}</div>
        <input name="address" id="id_address" type="text" placeholder="Rue de la Paix" />
      </div>
      <br />
      <div class="row justify-content-around mt-3">
        <input class="col-4 btn btn-success" type="submit" value="Ajouter" />
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/sites'" />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
