{% include "pminstrumentation/header.html" %}
<div class="container login-container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 login-form">
      {% load static %}
      <img class="center" src="{% static 'assets/pmi-logo.svg' %}"/>
      <form action"/login" method="post">

        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
          {{field}}
        </div>
        {% endfor %}

        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Connexion" />
        </div>
        <div class="form-group">
          <a href="/forgotten-password" class="ForgetPwd">Mot de passe oublié ?</a>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% include "pminstrumentation/footer.html" %}
