{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Création d'un nouveau client</h1>
</div>

<hr />

{{ form.non_field_errors }}
<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Nouveau client</h2><br />
      </div>
      <div class="row justify-content-between">
        <label for="label">Libellé :</label>&nbsp;
        <div style="color: red;">{{ form.label.errors }}</div>
        <input name="label" id="id_label" type="text" placeholder="CIC" />
      </div>
      <div class="row justify-content-between">
        <label for="name">Dénomination :</label>&nbsp;
        <div style="color: red;">{{ form.name.errors }}</div>
        <input name="name" id="id_name" type="text" placeholder="Crédit Industriel et Commercial" />
      </div>
      <div class="row justify-content-between">
        <label for="siren">SIREN :</label>&nbsp;
        <div style="color: red;">{{ form.siren.errors }}</div>
        <input name="siren" id="id_siren" type="text" placeholder="315066811" />
      </div>
      <br />
      <div class="row justify-content-around mt-3">
        <input class="col-4 btn btn-success" type="submit" value="Ajouter" />
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/customers'" />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
