<!-- Pagination -->
{% load i18n %}
{% trans request.path|slugify as path %}
<div class="sticky-top">
  {% include 'add.html' %}
  <div class="row">
    <div class="col">
      {% include 'pagination.html' %}
    </div>

    <div class="col col-6">
      {% include 'import_export.html' %}
    </div>

    {% include 'customers/customers_actions.html' %}
  </div>
</div>
