<!-- List | Add -->
<div class="row">
    <div class="col"><p>Nombre de {{ path }} : {{ count }}</p></div>
    <div class="col-sm col-lg-2"><input class="btn btn-primary float-right" type="button" value="Ajouter un {{ path|slice:":-1" }}" onclick="location.href='{{ request.path }}create'" /></div>
</div>
