<!DOCTYPE html>
<html>
    <head>
      {% include 'head.html' %}
    </head>
    <body>
      {% include 'header.html' %}

      {% include 'nav.html' %}

      <!-- Content -->
      <div class="content container-fluid mt-3">
        {% block content %}
        {% endblock content %}
      </div>

      {% include 'footer.html' %}
    </body>
</html>
