<!-- Footer -->
<div class="fixed-bottom mt-5">
  <ul class="nav justify-content-center navbar-dark" style="background-color: #152f4e;">
    <li class="nav-item">
      <a class="nav-link" href="/about">À propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/legals">Mentions légales</a>
    </li>
  </ul>
</div>
