<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #152f4e;">
  <a class="navbar-brand" href="../"><img src="https://www.pm-instrumentation.com/images/pmi-logo.svg" alt="PM Instumentation" title="PM Instumentation" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Mon profil</a>
    </li>
    <li class="nav-item active">

        {% if request.user.is_authenticated %}

          <a class="nav-link" href="/logout">
          {{request.user}} - Déconnexion<span class="sr-only">(current)</span>
          </a>
        {% else %}
          <a class="nav-link" href="/login">
          Connexion<span class="sr-only">(current)</span>
          </a>
        {% endif %}
    </li>
  </ul>
</nav>
