<!-- Import/Export -->
<div class="row">
  <div class="col">
    <form action="import" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      <input type="file" name="file" value="Import CSV" />
      <input class="btn btn-success" type="submit" value="Import CSV" />
    </form>
  </div>
  <div class="col">
    <input class="btn btn-success" type="button" onclick="location.href='export'" value="Export CSV" />
  </div>
</div>
