<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #152f4e;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if "customers" in request.path %} active{% endif %}">
        <a class="nav-link" href="/customers/">Clients {% if "customers" in request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if "sites" in request.path %} active{% endif %}">
        <a class="nav-link" href="/sites/">Sites {% if "sites" in request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if "categories" in request.path %} active{% endif %}">
        <a class="nav-link" href="/categories/">Catégories {% if "categories" in request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if "products" in request.path %} active{% endif %}">
        <a class="nav-link" href="/products/">Produits {% if "products" in request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if "planning" in request.path %} active{% endif %}">
        <a class="nav-link" href="/planning/">Planning {% if "planning" in request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if "notifications" in request.path %} active{% endif %}">
        <a class="nav-link" href="/notifications/">Notifications {% if "notifications" in request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if "tickets" in request.path %} active{% endif %}">
        <a class="nav-link" href="/tickets/">Tickets {% if "tickets" in request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
    </ul>
  </div>
</nav>
