<!-- Pages -->
<form action="" method="POST"> {% csrf_token %}
  <input type="hidden" name="active_page" value="{{active_page}}" />
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item{% if active_page == 1 %} disabled{% endif %}">
        <a class="page-link" href="" tabindex="-1">
          <input type="submit" value="&laquo;" name="pagination"/>
        </a>
      </li>
      {% for page in display %}
        {% if forloop.counter <= 5 and forloop.counter <= max_page %}
          <li class="page-item{% if active_page == page %} active{% endif %}">
            <a class="page-link" href="">
              <input type="submit" value="{{ page }}" name="pagination" />
              {% if active_page == page %} <span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="page-item{% if active_page == max_page %} disabled{% endif %}">
        <a class="page-link" href="">
            <input type="submit" value="&raquo;" name="pagination" />
        </a>
      </li>
    </ul>
  </nav>
</form>
