{% extends 'base.html' %}

{% block content %}
<!-- Grid -->
<div class="table-responsive table-responsive-xl">

  {% include 'categories/categories_pagination.html' %}

  <table class="table table-striped table-hover">
    <thead class="thead-dark sticky-top">
      <tr>
          <th scope="col"><input type="checkbox" id="mass_select" onclick="massSelect()" /></th>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
          <td><input type="checkbox" name="select" id="{{ instance.id }}"/></td>
          <th scope="row" onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.id }}</th>
          <td onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'actions.phtml' %}

{% endblock content %}
