<!-- Mass actions -->
<div class="col col-lg-2 input-group pt-2 pb-4">
  <div class="input-group-prepend">
    <button class="btn btn-outline-danger" type="button" onclick="massActions()">Actions</button>
  </div>
  <select class="custom-select" id="mass_action">
    <option selected>Choose...</option>
    <option value="1">Delete</option>
  </select>
</div>
