{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Mise à jour de la catégorie <b>{{ object.name }}</b></h1>
</div>

<hr />

{{ form.non_field_errors }}
<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Catégorie - <b>{{ object.name }}</b></h2>
      </div>
      <div class="row justify-content-between align-items-center">
        <label for="name">Nom :</label>&nbsp;
        <div style="color: red;">{{ form.name.errors }}</div>
        {{ form.name }}
      </div>
      <br />
      <div class="row justify-content-around">
        <input class="col-4 btn btn-success" type="submit" value="Modifier" />
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/categories'" />
      </div>
    </form>
  </div>
</div>

<hr />

{% include 'remove.html' %}

{% endblock content %}
