<!-- Import/Export -->
<div class="col col-6">
  <div class="row">
    <div class="col">
      <form action="import-categories" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <input type="file" name="categories_file" value="Import catégories CSV" />
        <input class="btn btn-success" type="submit" value="Import CSV" />
      </form>
    </div>
    <div class="col">
      <input class="btn btn-success" type="button" onclick="location.href='export-categories'" value="Export CSV catégories" />
    </div>
  </div>
</div>
