<!-- Import/Export -->
<div class="col col-6">
  <div class="row">
    <div class="col">
      <form action="/products/import-products" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group">
        <input type="file" name="products_file" value="Import produits CSV" />
        <input class="btn btn-success" type="submit" value="Import CSV" />
      </div>
      </form>
    </div>
    <div class="col">
      <input class="btn btn-success" type="button" onclick="location.href='/products/export-products'" value="Export CSV produits" />
    </div>
  </div>
</div>
