{% extends 'base.html' %}

{% block content %}
<!-- Grid -->
<div class="table-responsive table-responsive-xl">

  {% include 'products/products_pagination.html' %}

  <table class="table table-striped table-hover">
    <thead class="thead-dark sticky-top">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Catégorie</th>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col">Référence</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
          <th scope="row" onclick="window.open('http://pminstrumentation.com/{{ instance.reference|slugify }}-{{ instance.name|slugify }}')" style="color:#007bff; cursor: pointer;">{{ instance.id }}</th>
          <td onclick="window.open('http://pminstrumentation.com/{{ instance.reference|slugify }}-{{ instance.name|slugify }}')" style="color:#007bff; cursor: pointer;">{{ instance.category.name }}</td>
          <td onclick="window.open('http://pminstrumentation.com/{{ instance.reference|slugify }}-{{ instance.name|slugify }}')" style="color:#007bff; cursor: pointer;">{{ instance.name }}</td>
          <td onclick="window.open('http://pminstrumentation.com/{{ instance.reference|slugify }}-{{ instance.name|slugify }}')" style="color:#007bff; cursor: pointer;">{{ instance.description }}</td>
          <td onclick="window.open('http://pminstrumentation.com/{{ instance.reference|slugify }}-{{ instance.name|slugify }}')" style="color:#007bff; cursor: pointer;">{{ instance.reference }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
