{% extends 'base.html' %}

{% block content %}

{% include 'products/import_export_products.html' %}

{% for instance in object_list %}
  <p>{{ instance.id }} - <a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a></p>
{% endfor %}

{% endblock content %}
