{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Création d'un nouveau produit</h1>
</div>

<hr />

<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Nouveau produit</h2><br />
      </div>
      <div class="row justify-content-between">
        <label for="category">Catégorie :</label>&nbsp;
        <div style="color: red;">{{ form.category.errors }}</div>
        {{ form.category }}
      </div>
      <div class="row justify-content-between">
        <label for="name">Nom :</label>&nbsp;
        <div style="color: red;">{{ form.name.errors }}</div>
        <input name="name" id="id_name" type="text" placeholder="Capteur de force 2 Axes | 16 kN à 63 kN Fz" />
      </div>
      <div class="row justify-content-between">
        <label for="description">Description :</label>&nbsp;
        <div style="color: red;">{{ form.description.errors }}</div>
        <textarea name="description" id="id_description" name="description" rows="5" cols="40" placeholder=" Capteur de force Fz - Mz
    EM : 16kN/63kN et 220 Nm à 900 Nm
    Non-linéarité : ± 0.05%
    Signal de sortie: 2 mV/V
    Hytereresis: ± 0.05%
    Construction: Acier
    Sensibilité à la température : < 0.0015% / °Cnecter"></textarea>
      </div>
      <div class="row justify-content-between">
        <label for="reference">Référence :</label>&nbsp;
        <div style="color: red;">{{ form.reference.errors }}</div>
        <input name="reference" id="id_reference" type="text" placeholder="DA2816" />
      </div>
      <br />
      <div class="row justify-content-around mt-3">
        <input class="col-4 btn btn-success" type="submit" value="Ajouter" />
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/products'" />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
