{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Création d'une nouvelle notification</h1>
</div>

<hr />

<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Nouvelle notification</h2><br />
      </div>
      <div class="row justify-content-between">
        <label for="customer">Client :</label>&nbsp;
        <div style="color: red;">{{ form.customer.errors }}</div>
        {{ form.customer }}
      </div>
      <div class="row justify-content-between">
        <label for="product">Produit :</label>&nbsp;
        <div style="color: red;">{{ form.product.errors }}</div>
        {{ form.product }}
      </div>
      <div class="row justify-content-between">
        <label for="type">Type :</label>&nbsp;
        <div style="color: red;">{{ form.type.errors }}</div>
        {{ form.type }}
      </div>
      <div class="row justify-content-between">
        <label for="state">État :</label>&nbsp;
        <div style="color: red;">{{ form.state.errors }}</div>
        {{ form.state }}
      </div>
      <div class="row justify-content-between">
        <label for="date">Date :</label>&nbsp;
        <div style="color: red;">{{ form.date.errors }}</div>
        <input name="date" id="id_date" name="date" id="id_date" type="datetime" placeholder="{% now "Y-m-d H:i:s" %}" />
      </div>
      <div class="row justify-content-between">
        <label for="automatized">Automatisée :</label>&nbsp;
        <div style="color: red;">{{ form.automatized.errors }}</div>
        {{ form.automatized }}
      </div>
      <div class="row justify-content-between">
        <label for="recurrence">Récurrence :</label>&nbsp;
        <div style="color: red;">{{ form.recurrence.errors }}</div>
        <input name="recurrence" id="id_recurrence" type="text" placeholder="1D2M0Y" />
      </div>
      <br />
      <div class="row justify-content-around mt-3">
        <input class="col-4 btn btn-success" type="submit" value="Ajouter" />
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/notifications'" />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
