{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Suppression d'une notification <b>{{ object.customer.label }} - {{ object.product.name}} - {{object.type.type }}</b></h1>
</div>

<hr />

<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Voulez-vous supprimer la notification <b>{{ object.state.state }} - {{ object.date }} {% if object.automatized %} - {{ object.recurrence }}{% endif %}</b>?</h2><br />
      </div>
      <div class="row justify-content-around">
        <input class="col-4 btn btn-success" type="submit" value="Supprimer" />
        <input class="col-4 btn btn-danger" type="button" value="Annuler" onclick="location.href='/notifications'" />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
