{% extends 'base.html' %}

{% block content %}
<!-- Grid -->
<div class="table-responsive table-responsive-xl">

  {% include 'notifications/notifications_pagination.html' %}

  <table class="table table-striped table-hover">
    <thead class="thead-dark sticky-top">
      <tr>
          <th scope="col"><input type="checkbox" id="mass_select" onclick="massSelect()" /></th>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Client</th>
          <th scope="col">Produit</th>
          <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
          <td><input type="checkbox" name="select" id="{{ instance.id }}"/></td>
          <th scope="row" onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.id }}</th>
          <td onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.date|date:"D d M Y H:i:s" }}</td>
          <td onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.type.type }}</td>
          <td onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.customer.name }}</td>
          <td onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.product.name }}</td>
          <td onclick="location.href='{{ instance.get_absolute_url }}'" style="color:#007bff; cursor: pointer;">{{ instance.state.state }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'actions.phtml' %}

{% endblock content %}
