{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Informations de la notification <b>{{ object.customer.label }} - {{ object.product.name}} - {{object.type.type }}</b></h1>
</div>

<hr />

<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Notification - <b>{{ object.state.state }} - {{ object.date }} {% if object.automatized %} - {{ object.recurrence }}{% endif %}</b></h2>
      </div>

      <div class="row justify-content-between">
        <label for="customer">Client :</label>&nbsp;<input type="text" value="{{ object.customer.label }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="product">Produit :</label>&nbsp;<input type="text" value="{{ object.product.name }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="type">Type :</label>&nbsp;<input type="text" value="{{ object.type.type }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="state">État :</label>&nbsp;<input type="text" value="{{ object.state.state }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="date">Date :</label>&nbsp;<input type="text" value="{{ object.date }}" readonly="readonly" />
      </div>
      <div class="row justify-content-between">
        <label for="automatized">Automatisée :</label>&nbsp;<input type="checkbox" name="automatized" value="automatized" {% if object.automatized is True %}checked="checked"{% endif %} readonly="readonly" />
      </div>
      {% if object.automatized is True %}
      <div class="row justify-content-between">
        <label for="recurrence">Récurrence :</label>&nbsp;<input type="text" value="{{ object.recurrence }}" readonly="readonly" />
      </div>
      {% endif %}
      <br />
      <div class="row justify-content-around mt-3">
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/notifications'" readonly="readonly" />
      </div>
    </form>
  </div>
</div>

<hr />

{% include 'remove.html' %}

{% endblock content %}
