{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-5 d-flex justify-content-center align-items-center">
  <h1>Mise à jour de la notification <b>{{ object.customer.label }} - {{ object.product.name}} - {{object.type.type }}</b></h1>
</div>

<hr />

{{ form.non_field_errors }}
<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 bg-light border border-secondary rounded-right">
    <form class="mr-5 ml-5" action="." method="POST"> {% csrf_token %}
      <div class="row justify-content-center mb-3">
        <h2>Notification - <b>{{ object.state.state }} - {{ object.date }} {% if object.automatized %} - {{ object.recurrence }}{% endif %}</b></h2>
      </div>

      <div class="row justify-content-between">
        <label for="customer">Client :</label>&nbsp;
        <div style="color: red;">{{ form.customer.errors }}</div>
        {{ form.customer }}
      </div>
      <div class="row justify-content-between">
        <label for="product">Produit :</label>&nbsp;
        <div style="color: red;">{{ form.product.errors }}</div>
        {{ form.product }}
      </div>
      <div class="row justify-content-between">
        <label for="type">Type :</label>&nbsp;
        <div style="color: red;">{{ form.type.errors }}</div>
        {{ form.type }}
      </div>
      <div class="row justify-content-between">
        <label for="state">État :</label>&nbsp;
        <div style="color: red;">{{ form.state.errors }}</div>
        {{ form.state }}
      </div>
      <div class="row justify-content-between">
        <label for="date">Date :</label>&nbsp;
        <div style="color: red;">{{ form.date.errors }}</div>
        {{ form.date }}
      </div>
      <div class="row justify-content-between">
        <label for="automatized">Automatisée :</label>&nbsp;
        <div style="color: red;">{{ form.automatized.errors }}</div>
        {{ form.automatized }}
      </div>
      {% if object.automatized is True %}
      <div class="row justify-content-between">
        <label for="recurrence">Récurrence :</label>&nbsp;
        <div style="color: red;">{{ form.recurrence.errors }}</div>
        {{ form.recurrence }}
      </div>
      {% endif %}
      <br />
      <div class="row justify-content-around mt-3">
        <input class="col-4 btn btn-success" type="submit" value="Modifier" />
        <input class="col-4 btn btn-danger" type="button" value="Retour" onclick="location.href='/notifications'" />
      </div>
    </form>
  </div>
</div>

<hr />

{% include 'remove.html' %}

{% endblock content %}
